@font-face {
    font-family: 'Galaxie';
    src: url('GalaxiePolaris-Book.eot');
    src: url('GalaxiePolaris-Book.eot?#iefix') format('embedded-opentype'),
        url('GalaxiePolaris-Book.woff') format('woff'),
        url('GalaxiePolaris-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fenwick';
    src: url('FenwickOutline-Regular.eot');
    src: url('FenwickOutline-Regular.eot?#iefix') format('embedded-opentype'),
        url('FenwickOutline-Regular.woff') format('woff'),
        url('FenwickOutline-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
p {
    font-family: Galaxie, '-apple-system, BlinkMacSystemFont, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif';
}
canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.title {
    font-family: Fenwick, '-apple-system, BlinkMacSystemFont, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif';
}
body {
  padding: 0;
  margin: 0;
  background: #e0e5db;
}
.ichnos {
  position: fixed;
  z-index: 1;
  top: 10px;
  left: 10px;
}
.block {
    display: block;
    border-radius: 5px;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.5);
    background: #fbfcee;
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.block:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

.block1 {
    height: 725px;
    width: 750px;
    margin-top: 300px;
    margin-left: 17vw;
    padding: 10px;
    display: block;
    text-align: justify;
}

p {
    padding: 25px;
    line-height: 36px;
}

.block2 {
    height: 1900px;
    width: 780px;
    margin-top: 400px;
    margin-left: 26vw;
    padding: 10px;
    display: block;
    text-align: justify;
}

.block3 {
    font-size: 24px;
    margin-top: 100px;
    width: 400px;
    margin-left: 65vw;
    padding: 30px;
    display: block;
    text-align: justify;
    background: #00b8b8;
}

.block4 {
    margin-top: 300px;
    margin-bottom: 100px;
    width: 400px;
    margin-left: 15vw;
    padding: 10px;
    display: block;
    text-align: justify;
    background: #de3d83;
}

.wave {
  opacity: .3;
  position: absolute;
  top: 3%;
  left: 50%;
  background: #00b8b8;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  -webkit-transform-origin: 50% 48%;
          transform-origin: 50% 48%;
  border-radius: 43%;
  -webkit-animation: drift 3000ms infinite linear;
          animation: drift 3000ms infinite linear;
}

.wave.-three {
  -webkit-animation: drift 2500ms infinite linear;
          animation: drift 2500ms infinite linear;
}

.wave.-two {
  -webkit-animation: drift 5000ms infinite linear;
          animation: drift 5000ms infinite linear;
  opacity: .5;
  background: #de3d83;
}

.piece {
  font-family: Fenwick, '-apple-system, BlinkMacSystemFont, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  line-height: 36px;
  text-align: center;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  color: white;
  text-transform: uppercase;
  letter-spacing: .4em;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  text-indent: .3em;
}

@-webkit-keyframes drift {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes drift {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
